# initialisig backend server on the port
PORT=backend_port

# connecting backend to the databse
MONGO_URL=database_url

# to generate token to get store into cookies
JWT_CLIENT_SECRET_KEY=yoursecretkey

# for foregt password 
EMAIL=your_gmail
EMAIL_PASSWORD=app_password

# API keys for cloudinary
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=api
CLOUDINARY_API_SECRET=spi_secret key


# for razorpay gateway
RAZORPAY_KEY_ID=public_key_razorpay
RAZORPAY_SECRET=private_key_razorpay

#client port url
CLIENT_BASE_URL=your_url